{
    "presets": ["@babel/preset-env"],
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
            "@root": "./src/assets/js",
            "@images": "./src/assets/images",
            "@svg": "./src/assets/svg",
            "@assets": "./src/assets",
            "manifest.json": "./manifest.json"
        }
      }]
    ]
  }