.intro {

    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 11;
    background: #333333;
    pointer-events: none;

    -webkit-mask: url(../images/urban-sprite.png);
            mask: url(../images/urban-sprite.png);
    -webkit-mask-size: 2300% 100%;
            mask-size: 2300% 100%;
    -webkit-animation: mask-play 1.4s steps(22) forwards;
            animation: mask-play 1.4s steps(22) forwards;
  }

  @-webkit-keyframes mask-play {
    from {
      -webkit-mask-position: 0% 0;
              mask-position: 0% 0;
    }
    to {
      -webkit-mask-position: 100% 0;
              mask-position: 100% 0;
    }
  }
  
  @keyframes mask-play {
    from {
      -webkit-mask-position: 0% 0;
              mask-position: 0% 0;
    }
    to {
      -webkit-mask-position: 100% 0;
              mask-position: 100% 0;
    }
  }